# Project: Data Visualization on Flights in the US during January 2019

## Table of Contents 
<a name="top"></a>
<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#q">Question</a></li>
    <li><a href="#dw">Data Wrangling</a></li>
    <li><a href="eda">Exploratory Data Analysis</a></li>
    <li><a href="edas">Explanatory Data Analysis</a></li>
    <li><a href="limit">Limitation</a></li>
    <li><a href="conclu">Conclusion</a></li>
</ul>

<a id='intro'></a>
## Introduction
<a href="#top">Back to Table of Content</a>
> I have chosen a dataset on US flights during the month of January 2019. I am interested to see what causes the flight delay by visualize many features that are available on the dataset such as airline and its hub, origin and destination, departure & arrival performance and cancellations and diversion. The dataset is made available by the US Department of Transportation.

<a id='q'></a>
## Question 
<a href="#top">Back to Table of Content</a>
> <strong>What is the main cause of the flight delay? I will visualize factors such as airline and its hub, origin and destination, departure & arrival performance and cancellations and diversion</strong>.

<a id='dw'></a>
## Data Wrangling
<a href="#top">Back to Table of Content</a>

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set(style="darkgrid")

In [3]:
#loading dataset 
df = pd.read_csv('flights_jan_2019.csv', index_col=0)
df.head()

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,AIR_TIME,Unnamed: 15
MONTH,,,,,,,,,,,,,,,
1,3,4,9E,5121,TYS,ATL,1205.0,25.0,1315.0,25.0,0.0,NaN,0.0,36.0,NaN
1,4,5,9E,5121,TYS,ATL,1250.0,70.0,1412.0,82.0,0.0,NaN,0.0,38.0,NaN
1,5,6,9E,5122,ATL,SGF,956.0,6.0,1043.0,-8.0,0.0,NaN,0.0,84.0,NaN
1,6,7,9E,5122,ATL,SGF,945.0,-5.0,1029.0,-24.0,0.0,NaN,0.0,85.0,NaN
1,7,1,9E,5122,ATL,SGF,947.0,-3.0,1044.0,-9.0,0.0,NaN,0.0,88.0,NaN

> 1.DATA CLEANING

In [4]:
#drop the unname column 
df = df.loc[:, ~df.columns.str.contains('^Unnamed')]

In [5]:
df.head(10)

,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,AIR_TIME
MONTH,,,,,,,,,,,,,,
1,3,4,9E,5121,TYS,ATL,1205.0,25.0,1315.0,25.0,0.0,NaN,0.0,36.0
1,4,5,9E,5121,TYS,ATL,1250.0,70.0,1412.0,82.0,0.0,NaN,0.0,38.0
1,5,6,9E,5122,ATL,SGF,956.0,6.0,1043.0,-8.0,0.0,NaN,0.0,84.0
1,6,7,9E,5122,ATL,SGF,945.0,-5.0,1029.0,-24.0,0.0,NaN,0.0,85.0
1,7,1,9E,5122,ATL,SGF,947.0,-3.0,1044.0,-9.0,0.0,NaN,0.0,88.0
1,8,2,9E,5122,ATL,SGF,950.0,0.0,1040.0,-13.0,0.0,NaN,0.0,88.0
1,9,3,9E,5122,ATL,SGF,945.0,-5.0,1045.0,-8.0,0.0,NaN,0.0,89.0
1,10,4,9E,5122,ATL,SGF,943.0,-7.0,1032.0,-21.0,0.0,NaN,0.0,86.0
1,11,5,9E,5122,ATL,SGF,945.0,-5.0,1113.0,20.0,0.0,NaN,0.0,91.0
1,12,6,9E,5122,ATL,SGF,949.0,-1.0,1043.0,-8.0,0.0,NaN,0.0,91.0

In [6]:
#the dataset is messy and not tidy as well
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 583985 entries, 1 to 1
Data columns (total 14 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   DAY_OF_MONTH       583985 non-null  int64
 1   DAY_OF_WEEK        583985 non-null  int64
 2   OP_UNIQUE_CARRIER  583985 non-null  object
 3   OP_CARRIER_FL_NUM  583985 non-null  int64
 4   ORIGIN             583985 non-null  object
 5   DEST               583985 non-null  object
 6   DEP_TIME           567633 non-null  float64
 7   DEP_DELAY          567630 non-null  float64
 8   ARR_TIME           566924 non-null  float64
 9   ARR_DELAY          565963 non-null  float64
 10  CANCELLED          583985 non-null  float64
 11  CANCELLATION_CODE  16726 non-null   object
 12  DIVERTED           583985 non-null  float64
 13  AIR_TIME           565963 non-null  float64
dtypes: float64(7), int64(3), object(4)
memory usage: 66.8+ MB

> First I will address the cells with null and will drop every cell that doesn't have any value.

<a id='eda'></a>
## Exploratory Data Analysis
<a href="#top">Back to Table of Content</a>

<a id='edas'></a>
## Explanatory Data Analysis
<a href="#top">Back to Table of Content</a>

<a id='limit'></a>
## Limitation
<a href="#top">Back to Table of Content</a>

<a id='conclu'></a>
## Conclusion
<a href="#top">Back to Table of Content</a>