# Project: Data Visualization on Flights in the US during January 2019

## Table of Contents 
<a name="top"></a>
<ul>
    <li><a href="#intro">Introduction</a></li>
    <li><a href="#q">Question</a></li>
    <li><a href="#dw">Data Wrangling</a></li>
    <li><a href="eda">Exploratory Data Analysis</a></li>
    <li><a href="edas">Explanatory Data Analysis</a></li>
    <li><a href="limit">Limitation</a></li>
    <li><a href="conclu">Conclusion</a></li>
</ul>

<a id='intro'></a>
## Introduction
<a href="#top">Back to Table of Content</a>
> I have chosen a dataset on US flights during the month of January 2019. I am interested to see what causes the flight delay by visualize many features that are available on the dataset such as airline and its hub, origin and destination, departure & arrival performance and cancellations and diversion. The dataset is made available by the US Department of Transportation.

<a id='q'></a>
## Question 
<a href="#top">Back to Table of Content</a>
> <strong>What is the main cause of the flight delay? I will visualize factors such as airline and its hub, origin and destination, departure & arrival performance and cancellations and diversion</strong>.

<a id='dw'></a>
## Data Wrangling
<a href="#top">Back to Table of Content</a>

In [2]:
#import libraries
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns 
sns.set(style="darkgrid")

In [3]:
#loading dataset 
df = pd.read_csv('flights_jan_2019.csv')
df.head()

,MONTH,DAY_OF_MONTH,DAY_OF_WEEK,OP_UNIQUE_CARRIER,OP_CARRIER_FL_NUM,ORIGIN,DEST,DEP_TIME,DEP_DELAY,ARR_TIME,ARR_DELAY,CANCELLED,CANCELLATION_CODE,DIVERTED,AIR_TIME,Unnamed: 15
0,1,3,4,9E,5121,TYS,ATL,1205.0,25.0,1315.0,25.0,0.0,NaN,0.0,36.0,NaN
1,1,4,5,9E,5121,TYS,ATL,1250.0,70.0,1412.0,82.0,0.0,NaN,0.0,38.0,NaN
2,1,5,6,9E,5122,ATL,SGF,956.0,6.0,1043.0,-8.0,0.0,NaN,0.0,84.0,NaN
3,1,6,7,9E,5122,ATL,SGF,945.0,-5.0,1029.0,-24.0,0.0,NaN,0.0,85.0,NaN
4,1,7,1,9E,5122,ATL,SGF,947.0,-3.0,1044.0,-9.0,0.0,NaN,0.0,88.0,NaN

In [4]:
#the dataset is messy and not tidy as well
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 583985 entries, 0 to 583984
Data columns (total 16 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   MONTH              583985 non-null  int64
 1   DAY_OF_MONTH       583985 non-null  int64
 2   DAY_OF_WEEK        583985 non-null  int64
 3   OP_UNIQUE_CARRIER  583985 non-null  object
 4   OP_CARRIER_FL_NUM  583985 non-null  int64
 5   ORIGIN             583985 non-null  object
 6   DEST               583985 non-null  object
 7   DEP_TIME           567633 non-null  float64
 8   DEP_DELAY          567630 non-null  float64
 9   ARR_TIME           566924 non-null  float64
 10  ARR_DELAY          565963 non-null  float64
 11  CANCELLED          583985 non-null  float64
 12  CANCELLATION_CODE  16726 non-null   object
 13  DIVERTED           583985 non-null  float64
 14  AIR_TIME           565963 non-null  float64
 15  Unnamed: 15        0 non-null       float64
dtypes: float64(8), int64(4), object(4)
memory usage: 71.3+ MB

> First I will address the cells with null and will drop every cell that doesn't have any value.

<a id='eda'></a>
## Exploratory Data Analysis
<a href="#top">Back to Table of Content</a>

<a id='edas'></a>
## Explanatory Data Analysis
<a href="#top">Back to Table of Content</a>

<a id='limit'></a>
## Limitation
<a href="#top">Back to Table of Content</a>

<a id='conclu'></a>
## Conclusion
<a href="#top">Back to Table of Content</a>